<div class="frontpage">
    <style>
        table th {
            text-align: left;
        }
    </style>

    {% set metadata = hearing._metadata|default({}) %}
    <h1>
        Samlede høringssvar til<br/>
        <a href="{{ metadata.hearing_url }}">{{ metadata.hearing_title }} ({{ hearing.Name }})</a>
    </h1>

    {% if metadata.department_title|default(false) %}
        <h2>{{ metadata.department_title }}</h2>
    {% endif %}

    <table>
        <tr>
            <th>Start på høring</th>
            <td>{{ metadata.hearing_start_date|date('m/d/Y H:i') }}</td>
        </tr>
        <tr>
            <th>Høringsfrist</th>
            <td>{{ metadata.hearing_reply_deadline|date('m/d/Y H:i') }}</td>
        </tr>
        <tr>
            <th>Antal høringssvar</th>
            <td>{{ responses|length }}</td>
        </tr>
    </table>

    </p>
</div>
