<style>
    @page {
        margin: 38mm 25mm;
        /*
        background-image: url({{ context.template_dir }}/assets/aak_02_venstre_70_store.jpg);
        background-repeat: no-repeat;
        background-size: 25%;
        background-position: 2cm 2cm;
        */
    }

    .frontpage {
        font-family: Arial Black,Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,sans-serif;
    }

    table {
        border-collapse: collapse;
    }

    table th,
    table td {
        font-family: Arial Black,Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,sans-serif;
        text-align: left;
        font-weight: normal;
        padding-right: 1em;
    }

    h2 {
        font-weight: normal;
    }

    .hero-container {
        margin-top: 28.5mm;
        font-weight: bold;
        text-transform: uppercase;

        color: #fff;
        background: #008486;
        margin-right: -25mm;
        padding-right: 25mm;
        padding-top: 12mm;
        padding-left: 30mm;
        padding-bottom: 12mm;
    }

    .underlined::after {
        content: "";
        display: block;
        width: 110px;
        height: 4px;
        margin-top: .5rem;
        background: #fff;
    }

    a {
        color: inherit;
        text-decoration: none;
    }

    .rule {
        width: 25mm;
        height: 1mm;
        margin-top: 1mm;
        background: #fff;
    }
</style>

<div class="frontpage">
    {% set metadata = hearing._metadata|default({}) %}
    <div style="text-align: right">
        <img src="{{ context.template_base_url }}/assets/aak_02_venstre_70_store.jpg" style="width: 44.5mm" />
    </div>

    <div class="group-header hero-container mb-4">
        <div class="hero hero--image-right">
            <div class="container">
                <div class="hero__content">
                    <h1 class="title underlined hero__title pt-4 pb-4">
                        <a href="{{ metadata.hearing_url }}">{{ metadata.hearing_title }} ({{ hearing.Name }})</a>
                        <div class="rule"></div>
                    </h1>
                </div>
            </div>
        </div>
    </div>

    <h2>Samlede høringssvar</h2>

    {% if metadata.department_title|default(false) %}
        <h2>{{ metadata.department_title }}</h2>
    {% endif %}

    <table>
        <tr>
            <th>Start på høring</th>
            <td>{{ metadata.hearing_start_date|date('m/d/Y H:i') }}</td>
        </tr>
        <tr>
            <th>Høringsfrist</th>
            <td>{{ metadata.hearing_reply_deadline|date('m/d/Y H:i') }}</td>
        </tr>
        <tr>
            <th>Antal høringssvar</th>
            <td>{{ responses|length }}</td>
        </tr>
    </table>
</div>
